*{
    margin: 0;
    padding: 0;
}
body{
    background-color:aliceblue;
}
h1{ 
    font-family: Arial, Helvetica,sans-serif;
}
nav{
    display: inline-block;
    position: relative;
    text-align: center;
    justify-content: center;
    width: 100vw;

    
}

.nav-center{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    background-color: rgb(120, 168, 245);
    width:100vw;
    height: 4vh;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.7);
    
}
li{
    list-style: none;
    
    margin-right: 10px;
    font-size: 20px;
    letter-spacing:1px;
    color: white;


}
ul{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    
    color: white;
    
    
}

*{
    margin: 0;
    padding: 0;


}
h4{
    margin-right: 40px;
    font-size:20px;
    color: white;
    letter-spacing:1px;

}
h2{
   
    background-color:rgb(120, 168, 245);
    color: white;
    font-size:25px;
    padding:5px;
    margin: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.7);
    


}
.btn{
  
    font-size:20px;

    background-color:black;
    color: white;
    border-radius:5%;
    padding:5px;
 
    border-color:rgb(120, 168, 245);
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.7);
    

}
